## Pickling means to save any python object i.e. variables, list, dict, dataframe, ML classifier

In [1]:
import quandl
import pandas as pd
df=quandl.get('FMAC/HPI',authtoken='YZya5Hsq6QFx8sg2V-T5')
print (df.head())

                   AK         AL         AR         AZ         CA         CO  \
Date
1975-01-31  34.371830  35.695975  36.738861  28.937735  15.722312  19.603977
1975-02-28  34.880945  35.896770  37.098962  29.463708  15.775202  19.837138
1975-03-31  35.402217  36.133518  37.416398  29.959514  15.964942  20.073483
1975-04-30  35.944703  36.425723  37.677813  30.345148  16.275547  20.301864
1975-05-31  36.535272  36.695708  37.921099  30.546449  16.533017  20.495075

                   CT         DC         DE         FL  \
Date
1975-01-31  24.369431  18.255987  27.264842  30.997043
1975-02-28  24.908036  18.382701  27.250734  32.229049
1975-03-31  25.313556  18.514587  27.268478  34.027506
1975-04-30  25.541141  18.689302  27.362673  36.218077
1975-05-31  25.614056  18.937116  27.561893  36.437855

                          ...                        TX         UT         VA  \
Date                      ...
1975-01-31                ...                 32.602350  24.698474  27.912640
1975-02-28                ...                 32.944116  25.060977  28.205810
1975-03-31                ...                 33.542975  25.381341  28.420407
1975-04-30                ...                 34.402826  25.627200  28.578762
1975-05-31                ...                 34.649755  25.782334  28.717611

                   VT         WA         WI         WV         WY  \
Date
1975-01-31  26.637620  17.484315  28.096764  41.002072  31.668794
1975-02-28  26.956271  17.571053  28.486170  42.040473  32.161920
1975-03-31  27.264731  17.689717  28.860737  43.122486  32.680525
1975-04-30  27.546568  17.818792  29.185048  44.239196  33.210124
1975-05-31  27.794738  17.933277  29.443523  45.363222  33.714128

            United States not seasonaly adjusted  \
Date
1975-01-31                             23.497479
1975-02-28                             23.648785
1975-03-31                             23.895294
1975-04-30                             24.216495
1975-05-31                             24.416894

            United States seasonaly adjusted
Date
1975-01-31                         23.471007
1975-02-28                         23.629873
1975-03-31                         23.844527
1975-04-30                         24.111771
1975-05-31                         24.261528

[5 rows x 53 columns]

In [2]:
df=df.iloc[:,:-2]

In [3]:
print (df.shape)

(516, 51)

## Saving the dataframe

In [4]:
import pickle

In [5]:
pickle_out=open('data/housing.pickle','wb')
pickle.dump(df,pickle_out)
pickle_out.close()

## Loading the pickle

In [6]:
pickle_in=open('data/housing.pickle','rb')
loaded_df=pickle.load(pickle_in)
print (loaded_df.head())

                   AK         AL         AR         AZ         CA         CO  \
Date
1975-01-31  34.371830  35.695975  36.738861  28.937735  15.722312  19.603977
1975-02-28  34.880945  35.896770  37.098962  29.463708  15.775202  19.837138
1975-03-31  35.402217  36.133518  37.416398  29.959514  15.964942  20.073483
1975-04-30  35.944703  36.425723  37.677813  30.345148  16.275547  20.301864
1975-05-31  36.535272  36.695708  37.921099  30.546449  16.533017  20.495075

                   CT         DC         DE         FL    ...             SD  \
Date                                                      ...
1975-01-31  24.369431  18.255987  27.264842  30.997043    ...      37.722210
1975-02-28  24.908036  18.382701  27.250734  32.229049    ...      37.319634
1975-03-31  25.313556  18.514587  27.268478  34.027506    ...      36.908861
1975-04-30  25.541141  18.689302  27.362673  36.218077    ...      36.498238
1975-05-31  25.614056  18.937116  27.561893  36.437855    ...      36.121328

                   TN         TX         UT         VA         VT         WA  \
Date
1975-01-31  32.179633  32.602350  24.698474  27.912640  26.637620  17.484315
1975-02-28  32.218599  32.944116  25.060977  28.205810  26.956271  17.571053
1975-03-31  32.296539  33.542975  25.381341  28.420407  27.264731  17.689717
1975-04-30  32.416385  34.402826  25.627200  28.578762  27.546568  17.818792
1975-05-31  32.563209  34.649755  25.782334  28.717611  27.794738  17.933277

                   WI         WV         WY
Date
1975-01-31  28.096764  41.002072  31.668794
1975-02-28  28.486170  42.040473  32.161920
1975-03-31  28.860737  43.122486  32.680525
1975-04-30  29.185048  44.239196  33.210124
1975-05-31  29.443523  45.363222  33.714128

[5 rows x 51 columns]

## Pickling in Pandas

In [7]:
loaded_df.to_pickle('data/housing_pandas.pickle')
loaded_df_pandas=pd.read_pickle('data/housing_pandas.pickle')
print (loaded_df_pandas.head())

                   AK         AL         AR         AZ         CA         CO  \
Date
1975-01-31  34.371830  35.695975  36.738861  28.937735  15.722312  19.603977
1975-02-28  34.880945  35.896770  37.098962  29.463708  15.775202  19.837138
1975-03-31  35.402217  36.133518  37.416398  29.959514  15.964942  20.073483
1975-04-30  35.944703  36.425723  37.677813  30.345148  16.275547  20.301864
1975-05-31  36.535272  36.695708  37.921099  30.546449  16.533017  20.495075

                   CT         DC         DE         FL    ...             SD  \
Date                                                      ...
1975-01-31  24.369431  18.255987  27.264842  30.997043    ...      37.722210
1975-02-28  24.908036  18.382701  27.250734  32.229049    ...      37.319634
1975-03-31  25.313556  18.514587  27.268478  34.027506    ...      36.908861
1975-04-30  25.541141  18.689302  27.362673  36.218077    ...      36.498238
1975-05-31  25.614056  18.937116  27.561893  36.437855    ...      36.121328

                   TN         TX         UT         VA         VT         WA  \
Date
1975-01-31  32.179633  32.602350  24.698474  27.912640  26.637620  17.484315
1975-02-28  32.218599  32.944116  25.060977  28.205810  26.956271  17.571053
1975-03-31  32.296539  33.542975  25.381341  28.420407  27.264731  17.689717
1975-04-30  32.416385  34.402826  25.627200  28.578762  27.546568  17.818792
1975-05-31  32.563209  34.649755  25.782334  28.717611  27.794738  17.933277

                   WI         WV         WY
Date
1975-01-31  28.096764  41.002072  31.668794
1975-02-28  28.486170  42.040473  32.161920
1975-03-31  28.860737  43.122486  32.680525
1975-04-30  29.185048  44.239196  33.210124
1975-05-31  29.443523  45.363222  33.714128

[5 rows x 51 columns]